// ------------------------------------------------------------
// This file contains all project-related variables.
// ------------------------------------------------------------

// Paths to assets
// Used by `image()` and `font()` getter functions.
$assets-path: '../';
$fonts-path:  '#{$assets-path}/fonts';
$images-path: '#{$assets-path}/images';

// Breakpoints
// Used by `respond-to()` responsive breakpoint manager.
$breakpoints: (
  'iphone-5': (max-width: 320px),
  'mobile': (max-width: 512px),
  'tablet': (max-width: 768px),
  'desktop': (max-width: 960px)
);

// Base font settings
$font-size: 16px;
$font-line-height: 1.385rem;
$font-stack: (
  'PT Serif',
  serif
);

// Colors
$background-color: #ececec;
//$font-color: #838c8e;
$font-color: #737b7d;
